# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QT
*.pro.user*
*.qmake.stash

#out
Bin/
build*/

#private
flySnailGui/Plugin/issue_check

#temp
*Makefile
flySnailGui/lib/
